body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #935367;
    color: rgb(255, 215, 0);
    padding: 20px;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido horizontalmente */
}

.logo {
    width: 50px; /* Ajusta el tamaño de la imagen del logo */
    height: auto;
    margin-right: 20px; /* Espacio entre el logo y el título */
    border-radius: 10px;
}

h1 {
    font-size: 1.5em;
    margin: 0;
}


.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.persona {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
}

.persona img {
    max-width: 100%;
    border-radius: 10px;
}

h2 {
    font-size: 1.2em;
}

p {
    margin: 5px 0;
}
